<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="/scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/scripts/script.js"></script>
    <title>Reminders</title>
  </head>
  <body>
    <% if session[:error] %>
      <p class="error"><%= session.delete(:error) %></p>
    <% end %>
    <% if session[:success] %>
      <p class="success"><%= session.delete(:success) %></p>
    <% end %>
    <%= yield %>
  </body>
</html>