@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

.inline {
  display: inline !important;
}

header, main {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.reminder_copy_data {
  padding-left: 20px;
}

.left_column, .rightcolumn {
    float: left;
}
.left_column {
  padding-right: 200px;
  float: left;
  min-height: 250px;
}
#search {
  font-size: 1em;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.custom_copy {
  padding-top: 20px;
}

main {
  clear: both;
}

.flash {
  max-width: 1200px;
  padding: 10px 20px;
  margin: 20px auto 1.5em auto;
  color: #3399cc;
  background: #CBE5F2;
}

.flash p {
  font-size: 14px;
  font-weight: bold;
}

.flash.error {
  color: #ff6633;
  background: #FFCFBF;
}

.flash.success {
  color: #33cc99;
  background: #CBF2E5;
}

.hidden {
  display: none;
}
.copy_data {
  position: absolute;
  left: -3000px;
  top: -3000px;
}
.quick_copy_actions {
  display: block;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
  padding-bottom: 20px;
}

header section {
  display: block;
}

table {
  width: 90%;
  padding-left: 15px;
  max-width: 900px;
}

th {
  text-align: left;
}

main h2 {
  margin-top: 40px;
}

form section {
  margin-bottom: 20px;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.complete td {
  border: none !important;
  text-decoration: line-through;
}

tr th:nth-of-type(1), tr td:nth-of-type(1) {
  min-width: 70px;
  width: 10%;
}
tr th:nth-of-type(2), tr td:nth-of-type(2) {
  min-width: 160px;
  width: 15%;
  text-align: right;
  padding-right: 30px;
}
tr th:nth-of-type(3), tr td:nth-of-type(3) {
  min-width: 240px;
  width: 60%;
}
tr th:nth-of-type(4), tr td:nth-of-type(4) {
  min-width: 60px;
  text-align: right;
}
tr th:nth-of-type(5), tr td:nth-of-type(5) {
  min-width: 40px;
  text-align: middle;
}
tr th:nth-of-type(6), tr td:nth-of-type(6) {
  text-align: right;
}

.new_reminder {
  padding-top: 50px;
  padding-bottom: 150px;
}

.remind_me, .service_type {
  width: 30%;
  min-width: 250px;
  float: left;
}

.remind_me label, .service_type label {
  display: block;
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 5px;
}

select {
  font-size: 1em;
}

#custom_date {
  padding-top: 15px;
}

.notes {
  display: block;
  clear: both;
}

.notes textarea {
  width: 400px;
  height: 30px;
}

.priority_1 td {
 border-top: 2px solid blue;
}

.priority_2 td {
  border-top: 2px solid green;
}

.priority_3 td {
  border-top: 2px solid #bdc400;
}

.priority_4 td {
   border-top: 2px solid orange;
}

.priority_5 td {
  border-top: 2px solid red;
}​
